p,ul{
    margin: 0;
}
.notes {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.note {
    border: 1px solid black;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    max-width: 300px;
    max-height: 200px;
}
.note img{
    width: 100%;
}