@import './apps/keep/pages/keep-app.css';
@import './apps/book/pages/book-app.css';
@import './cmps/app-header.css';
@import './cmps/user-msg.css';
@import './basic/fonts.css';
@import './basic/helpers.css';
@import './pages/about.css';
@import './apps/mail/mail-app.css';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

/* body {
    height: 100vh;
} */

button {
    cursor: pointer;
}

footer {
    height: 80px;
    background-color: #edc7b7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}